In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('/home/bhanu/ind-covid-data-practise/covid19india.csv')
df = df.drop(columns  = ['Sno', 'Time', 'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured', 'Deaths'])

# correcting time format according to ISO standards
time_format= '%d/%m/%y'
df['Date'] = pd.to_datetime(df['Date'], format=time_format)

In [3]:
df['State/UnionTerritory'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Pondicherry', 'West Bengal', 'Chattisgarh',
       'Chandigarh', 'Chhattisgarh', 'Gujarat', 'Puducherry',
       'Himachal Pradesh', 'Madhya Pradesh', 'Bihar', 'Manipur',
       'Mizoram', 'Andaman and Nicobar Islands', 'Goa', 'Unassigned'],
      dtype=object)

In [4]:
df.head()

        Date State/UnionTerritory  Confirmed
0 2020-01-30               Kerala          1
1 2020-01-31               Kerala          1
2 2020-02-01               Kerala          2
3 2020-02-02               Kerala          3
4 2020-02-03               Kerala          3

In [5]:
df2 = df.set_index(['State/UnionTerritory'])

In [6]:
df2.head()

                           Date  Confirmed
State/UnionTerritory
Kerala               2020-01-30          1
Kerala               2020-01-31          1
Kerala               2020-02-01          2
Kerala               2020-02-02          3
Kerala               2020-02-03          3

In [ ]:
fig, ax = plt.subplots()