In [3]:
import pandas as pd

df = pd.read_csv('/home/bhanu/ind-covid-data-practise/covid19india.csv')



# how to comvert date time series to more readable formats

In [4]:
df.columns

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')

In [29]:
df.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30/01/20,Kerala,1,0,0,0
1,2,31/01/20,Kerala,1,0,0,0
2,3,01/02/20,Kerala,2,0,0,0
3,4,02/02/20,Kerala,3,0,0,0
4,5,03/02/20,Kerala,3,0,0,0

In [9]:
df2 = df.drop(columns  = ['Sno', 'Time',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths'])

In [10]:
df2.head()

       Date State/UnionTerritory  Confirmed
0  30/01/20               Kerala          1
1  31/01/20               Kerala          1
2  01/02/20               Kerala          2
3  02/02/20               Kerala          3
4  03/02/20               Kerala          3

In [12]:
df2_Date = df2['Date']

In [13]:
df2_Date.head()

0    30/01/20
1    31/01/20
2    01/02/20
3    02/02/20
4    03/02/20
Name: Date, dtype: object

In [14]:
time_format= '%d/%m/%y' # remember to use small y instead of capital Y

In [15]:
my_datetimes = pd.to_datetime(df2_Date, format=time_format)

In [16]:
my_datetimes.head()

0   2020-01-30
1   2020-01-31
2   2020-02-01
3   2020-02-02
4   2020-02-03
Name: Date, dtype: datetime64[ns]

In [37]:

# HOW TO Extract data from '2010-12-15' to '2010-12-31': ts3

# ts3 = ts0.loc['2010-12-15' : '2010-12-31']