In [2]:
print('hello world')

hello world

In [1]:
import pandas as pd

df = pd.read_csv('/home/bhanu/ind-covid-data-practise/covid19india.csv')



# correcting time format according to ISO standards

time_format= '%d/%m/%y'
df['Date'] = pd.to_datetime(df['Date'], format=time_format)

In [2]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [3]:
df.tail()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
551,552,2020-04-01,9:00 AM,Tamil Nadu,-,-,4,1,124
552,553,2020-04-01,9:00 AM,Telengana,-,-,1,3,94
553,554,2020-04-01,9:00 AM,Uttarakhand,-,-,2,0,7
554,555,2020-04-01,9:00 AM,Uttar Pradesh,-,-,14,0,103
555,556,2020-04-01,9:00 AM,West Bengal,-,-,0,2,26

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556 entries, 0 to 555
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       556 non-null    int64
 1   Date                      556 non-null    datetime64[ns]
 2   Time                      556 non-null    object
 3   State/UnionTerritory      556 non-null    object
 4   ConfirmedIndianNational   556 non-null    object
 5   ConfirmedForeignNational  556 non-null    object
 6   Cured                     556 non-null    int64
 7   Deaths                    556 non-null    int64
 8   Confirmed                 556 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 39.2+ KB

In [6]:
df.columns

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')