In [146]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('/home/bhanu/ind-covid-data-practise/IndividualDetails.csv')

#time_format= '%d/%m/%y'
#df['diagnosed_date'] = pd.to_datetime(df['diagnosed_date'], format=time_format)

In [147]:
df2 = df.dropna()

In [148]:
df2.head()

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
28,28,DL-P2,05/03/2020,27,M,Janakpuri,South West Delhi,Delhi,India,Hospitalized,05/03/2020,"Travelled from Italy PayTm Emp,"
33,33,TN-P1,07/03/2020,45,M,Kancheepuram,Kancheepuram,Tamil Nadu,India,Recovered,07/03/2020,Travelled from Oman to Chennai Airport on 28.0...
34,34,KL-PT-P1,08/03/2020,24,M,Ranni,Pathanamthitta,Kerala,India,Hospitalized,08/03/2020,Travelled from Italy on 29/02/2020 through Doha

In [149]:
df2.columns

Index(['id', 'government_id', 'diagnosed_date', 'age', 'gender',
       'detected_city', 'detected_district', 'detected_state', 'nationality',
       'current_status', 'status_change_date', 'notes'],
      dtype='object')

In [150]:
df3 = df2.drop(columns=['id', 'government_id', 'diagnosed_date', 'gender', 'detected_city',
       'detected_district', 'detected_state', 'nationality', 'current_status',
       'status_change_date', 'notes'])

In [151]:
df3.reset_index(drop=True)

   age
0   20
1   45
2   27
3   45
4   24
..  ..
79  41
80  45
81  48
82  67
83  62

[84 rows x 1 columns]

In [158]:
df3

     age
0     20
3     45
28    27
33    45
34    24
...   ..
683   41
1079  45
1080  48
1081  67
1082  62

[84 rows x 1 columns]

In [ ]:
fig, ax = plt.subplots()

ax.hist(df3['age'])