In [38]:
import pandas as pd

df = pd.read_csv('/home/bhanu/ind-covid-data-practise/covid19india.csv')

df = df.drop(columns  = ['Sno', 'Time',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths'])

# correcting time format according to ISO standards

time_format= '%d/%m/%y'
df['Date'] = pd.to_datetime(df['Date'], format=time_format)

In [39]:
df.head()

        Date State/UnionTerritory  Confirmed
0 2020-01-30               Kerala          1
1 2020-01-31               Kerala          1
2 2020-02-01               Kerala          2
3 2020-02-02               Kerala          3
4 2020-02-03               Kerala          3

In [40]:
df2 = df.set_index(['State/UnionTerritory', 'Date'])

In [41]:
df2

                                 Confirmed
State/UnionTerritory Date
Kerala               2020-01-30          1
                     2020-01-31          1
                     2020-02-01          2
                     2020-02-02          3
                     2020-02-03          3
...                                    ...
Tamil Nadu           2020-04-01        124
Telengana            2020-04-01         94
Uttarakhand          2020-04-01          7
Uttar Pradesh        2020-04-01        103
West Bengal          2020-04-01         26

[556 rows x 1 columns]

In [42]:
df3 = df2.sort_index()

In [43]:
df3

                                        Confirmed
State/UnionTerritory        Date
Andaman and Nicobar Islands 2020-03-26          1
                            2020-03-27          1
                            2020-03-28          6
                            2020-03-29          9
                            2020-03-30          9
...                                           ...
West Bengal                 2020-03-28         15
                            2020-03-29         18
                            2020-03-30         22
                            2020-03-31         26
                            2020-04-01         26

[556 rows x 1 columns]

In [44]:
df3.loc['Kerala'].head()

            Confirmed
Date
2020-01-30          1
2020-01-31          1
2020-02-01          2
2020-02-02          3
2020-02-03          3

In [45]:
df3.loc[(df['State/UnionTerritory'].unique()), '2020-03-19', :]

                                 Confirmed
State/UnionTerritory Date
Andhra Pradesh       2020-03-19          2
Chandigarh           2020-03-19          1
Chattisgarh          2020-03-19          1
Delhi                2020-03-19         12
Haryana              2020-03-19         17
Jammu and Kashmir    2020-03-19          4
Karnataka            2020-03-19         14
Kerala               2020-03-19         27
Ladakh               2020-03-19          8
Maharashtra          2020-03-19         47
Odisha               2020-03-19          1
Pondicherry          2020-03-19          1
Punjab               2020-03-19          2
Rajasthan            2020-03-19          7
Tamil Nadu           2020-03-19          2
Telengana            2020-03-19          6
Uttar Pradesh        2020-03-19         19
Uttarakhand          2020-03-19          1
West Bengal          2020-03-19          1

In [46]:
df3.tail()

                                 Confirmed
State/UnionTerritory Date
West Bengal          2020-03-28         15
                     2020-03-29         18
                     2020-03-30         22
                     2020-03-31         26
                     2020-04-01         26

In [47]:
df4 = df3.loc[(df['State/UnionTerritory'].unique(), '2020-03-27'),:] # nottice the small difference between this and below commands

In [48]:
df5 = df3.loc[(df['State/UnionTerritory'].unique()), '2020-03-27',:]

In [49]:
df4 == df5

                                        Confirmed
State/UnionTerritory        Date
Andaman and Nicobar Islands 2020-03-27       True
Andhra Pradesh              2020-03-27       True
Bihar                       2020-03-27       True
Chandigarh                  2020-03-27       True
Chhattisgarh                2020-03-27       True
Delhi                       2020-03-27       True
Goa                         2020-03-27       True
Gujarat                     2020-03-27       True
Haryana                     2020-03-27       True
Himachal Pradesh            2020-03-27       True
Jammu and Kashmir           2020-03-27       True
Karnataka                   2020-03-27       True
Kerala                      2020-03-27       True
Ladakh                      2020-03-27       True
Madhya Pradesh              2020-03-27       True
Maharashtra                 2020-03-27       True
Manipur                     2020-03-27       True
Mizoram                     2020-03-27       True
Odisha                      2020-03-27       True
Puducherry                  2020-03-27       True
Punjab                      2020-03-27       True
Rajasthan                   2020-03-27       True
Tamil Nadu                  2020-03-27       True
Telengana                   2020-03-27       True
Uttar Pradesh               2020-03-27       True
Uttarakhand                 2020-03-27       True
West Bengal                 2020-03-27       True

In [50]:
df4

                                        Confirmed
State/UnionTerritory        Date
Andaman and Nicobar Islands 2020-03-27          1
Andhra Pradesh              2020-03-27         12
Bihar                       2020-03-27          6
Chandigarh                  2020-03-27          7
Chhattisgarh                2020-03-27          6
Delhi                       2020-03-27         36
Goa                         2020-03-27          3
Gujarat                     2020-03-27         43
Haryana                     2020-03-27         30
Himachal Pradesh            2020-03-27          3
Jammu and Kashmir           2020-03-27         13
Karnataka                   2020-03-27         55
Kerala                      2020-03-27        137
Ladakh                      2020-03-27         13
Madhya Pradesh              2020-03-27         20
Maharashtra                 2020-03-27        130
Manipur                     2020-03-27          1
Mizoram                     2020-03-27          1
Odisha                      2020-03-27          2
Puducherry                  2020-03-27          1
Punjab                      2020-03-27         33
Rajasthan                   2020-03-27         41
Tamil Nadu                  2020-03-27         29
Telengana                   2020-03-27         45
Uttar Pradesh               2020-03-27         41
Uttarakhand                 2020-03-27          5
West Bengal                 2020-03-27         10

In [51]:
df5

                                        Confirmed
State/UnionTerritory        Date
Andaman and Nicobar Islands 2020-03-27          1
Andhra Pradesh              2020-03-27         12
Bihar                       2020-03-27          6
Chandigarh                  2020-03-27          7
Chhattisgarh                2020-03-27          6
Delhi                       2020-03-27         36
Goa                         2020-03-27          3
Gujarat                     2020-03-27         43
Haryana                     2020-03-27         30
Himachal Pradesh            2020-03-27          3
Jammu and Kashmir           2020-03-27         13
Karnataka                   2020-03-27         55
Kerala                      2020-03-27        137
Ladakh                      2020-03-27         13
Madhya Pradesh              2020-03-27         20
Maharashtra                 2020-03-27        130
Manipur                     2020-03-27          1
Mizoram                     2020-03-27          1
Odisha                      2020-03-27          2
Puducherry                  2020-03-27          1
Punjab                      2020-03-27         33
Rajasthan                   2020-03-27         41
Tamil Nadu                  2020-03-27         29
Telengana                   2020-03-27         45
Uttar Pradesh               2020-03-27         41
Uttarakhand                 2020-03-27          5
West Bengal                 2020-03-27         10