In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

df = pd.read_csv('/home/bhanu/ind-covid-data-practise/covid19india.csv')

In [17]:
df.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30/01/20,Kerala,1,0,0,0
1,2,31/01/20,Kerala,1,0,0,0
2,3,01/02/20,Kerala,2,0,0,0
3,4,02/02/20,Kerala,3,0,0,0
4,5,03/02/20,Kerala,3,0,0,0

In [18]:
df.tail()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
414,415,27/03/20,Tamil Nadu,23,6,1,1
415,416,27/03/20,Telengana,35,10,1,0
416,417,27/03/20,Uttarakhand,4,1,0,0
417,418,27/03/20,Uttar Pradesh,40,1,11,0
418,419,27/03/20,West Bengal,10,0,0,1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       419 non-null    int64
 1   Date                      419 non-null    object
 2   State/UnionTerritory      419 non-null    object
 3   ConfirmedIndianNational   419 non-null    int64
 4   ConfirmedForeignNational  419 non-null    int64
 5   Cured                     419 non-null    int64
 6   Deaths                    419 non-null    int64
dtypes: int64(5), object(2)
memory usage: 23.0+ KB